@import url(/CSS-Main/btn.css);
@import url(/CSS-Main/font.css);
@import url(/CSS-Main/footer.css);
@import url(/P_STUDENT/css/p_student_header.css);
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Reset default box model */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set body styles */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #0e52a4; */
}

/* Styles for the table */
table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  font-size: 1.5vw;
  margin: 2vh 0;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

th,
td {
  text-align: center;
  padding: 2vh;
  border: .1vh solid black;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Styles for the headings */
h1 {
  font-size: 4vw;
  margin: 2vh 0;
  text-align: center;
  color: black;
}

/* Styles for the periods */
p {
  margin: 0;
  font-size: 1vw;
}
 td:first-child {
  font-weight: bold;
  text-align: left;
  width: 10%;
  color: black;
}

td:not(:first-child) {
  width: 16%;
}

