@import url(/CSS-Main/btn.css);
@import url(/CSS-Main/font.css);
@import url(/CSS-Main/footer.css);
@import url(/ADMIN/CSS/admin_header.css);
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	/* line-height: 1.5; */
  }
  body {
	font-family: Arial, sans-serif;
	font-size: 1vw;
	height: 80vh;
	/* line-height: 1.5; */
}

/* Main content styles */
main {
	
	width: 100%; 
	height: 100%;
	
}

/* Nav Bar 1 */
.nav-1 {
	position:initial;
	top: 10%;
	left: 100%;
	width: 100%;
	background-color: #0077cc;
	color: white;
	z-index: 1;
}
	
.nav-1 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
	
.nav-1 li {
	font-size: 2vh;
	font-weight: bold;
}
	
.nav-1 li span {
	display: block;
	padding: 1vh 1vw;
}


	/* Main Content */
.dashboard-title {
	margin-top: 1%;
	text-align: center;
	margin-left: 3%;
	}
	
.section-title {
	position: relative;
	font-size: 3vh;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 2%;
	}
	
p {
    position: relative;
	margin-left: 6%;
	margin-top: 0%;
	}
.image {
	position: relative;
	width: 20vw;
	height: auto;
	/* border: 1px solid #000; */
	margin-top: 5vh;
	mix-blend-mode: color-burn;
	left: 40%;
	  }
  
/* Side panel */
#mySidebar {
	height: 100vh;
	width: 20vw;
	position:fixed;
	z-index: 1;
	top: 0vh;
	left: -25vw;
	background-color: #0e52a4;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 6vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
  }
  
#mySidebar.open {
	left: 0;
  }
#toggle-sidebar {
	position:fixed;
	top: 20%;
	left: 0;
	transform: translateY(-50%);
	width: 3vw;
	height: 6vh;
	/* border-radius: 50%; */
	background-color: #ccc;
	border: none;
	/* z-index: 1; */
	cursor: pointer;
	transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
  }
#toggle-sidebar.open {

	left: 20vw;
	background-color: black;
	color: white;
	/* border-radius:50%; */
	text-align: center;
	transform: rotate(180deg);
  }
.sidebar-btn {
	display:flex;
	justify-content: center;
	width: 90%;
	margin-bottom: 5%;
	padding: 15px 20px;
	margin-left: .5vw;
	/* text-align: center; */
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1.5vw;
	font-weight: bold;
	text-transform:capitalize;
	
  }
.sidebar-btn:hover {
	background-color: #ddd;
  }