@import url(/CSS-Main/footer.css);
@import url(/ADMIN/CSS/admin_header.css);
@import url(/CSS-Main/font.css);
@import url(/CSS-Main/btn.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    body {
    font-family: sans-serif;

    }
.full-body{
  height: 80vh;
  max-height: 200vh;
}
.heading{
  text-transform: uppercase;
  position: relative;
  left: 35%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 3vw;
}
