@import url(/CSS-Main/btn.css);
@import url(/CSS-Main/font.css);
@import url(/CSS-Main/footer.css);
@import url(/ADMIN/CSS/admin_header.css);
/* Global styles */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  body {
    font-family: sans-serif;
    }
    
    /* Main styles */
    main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1vh;
    }
    
    /* Form styles */
    form {
    width: 90%;
    max-width: 100vw;
    } 
    /* Table styles */
    table {
      position: relative;
    width: 90%;
    border-collapse: collapse;
    left: 5%;
    }
    
    th {
      width: 45%;
    background-color: #0077cc;
    color: white;
    text-align: left;
    padding-left: 1%;
    border: 0.1vh solid white;
    font-size: 2.5vh;
    height: 1vh;
    }
    
    td {
    width: 45%;
    background-color: rgb(196, 223, 232);
    border-bottom: 0.1vw solid black;
    font-size: 2.5vh;
    }
    
    .user-table tr:last-child td {
    border-bottom: none;
    } 
    /* Button container styles */
    .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    }
    
    /* Label styles */
    label {
    display: block;
    margin: 2% 0%;
    position: relative;
    }

td,th{
padding:1%;
}